body {
  color: white;
}

header {
  height: 90px;
  background-color: #2C3E50;
}

.jumbotron {
  height: 490px;
  background-color: #31BC8C;
}

section {
  margin-bottom: 60px;
}

.rds-container {
  width: 60%;
  margin: 0 auto;
}

#about {
  background-color: #31bc9c;
}