[class^="container"],
[class^="col"] {
  background-color: rgba(127, 255, 212, 0.553);
  border: 1px solid black;
  min-height: 50px;
}

.sc-container {
  width: 60%;
  margin: 0 auto;
}

body {
  color: white;
}

header {
  height: 80px;
  background-color: #2C3E50;
}

.navbar-toggler.sc-hamburger {
  border: none;
}

.jumbotron {
  height: 490px;
  background-color: #31bc9c;
}


.cards .col {


  /*debug*/
  height: 150px;
}


#about {
  background-color: #31bc9c;
}

.form {
  height: 500px;
}